.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);

  .dialog {
    all: unset;
    width: 80%;
    height: 80%;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fefefe;
  }
}
