.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);

  .dialog {
    all: unset;
    width: 80%;
    height: 60%;
    max-width: 60rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fefefe;

    form {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 1rem;

      label {
        display: flex;
        flex-direction: column;
        font-weight: 600;

        select,
        input {
          margin-top: 0.5rem;
          padding: 0.5rem;
          border: 1px solid #bcbcbc;
          border-radius: 0.5rem;
          font-size: 1rem;
          background-color: #fefefe;
        }
      }

      .error {
        color: #ff4d4f;
      }

      .loading {
        color: #686868;
      }

      .actions {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;

        button {
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 0.5rem;
          cursor: pointer;

          &:disabled {
            opacity: 0.8;
            cursor: not-allowed;
          }

          &.save {
            background-color: #007bff;
            color: #ffffff;
          }

          &.cancel {
            background-color: #f8f9fa;
            color: #343a40;
          }
        }
      }
    }
  }
}
