.app {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "filter"
    "main"
    "footer";
  gap: 1rem;
  height: 100%;
  background-color: #fefefe;

  header {
    grid-area: header;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    color: #fefefe;
    background-color: #033a61;
  }

  main {
    grid-area: main;
    overflow: auto;
    width: 80%;
    max-width: 80rem;
    margin: 0 auto;
  }

  footer {
    grid-area: footer;
    font-size: 0.875rem;
    padding: 1rem;
    background-color: #9eb5c6;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;
}
